<div fxFill fxLayout="column">
  <mat-toolbar color=primary>
    <button mat-icon-button (click)="openSnackBar('メニューを開きます','OK')">
      <mat-icon>menu</mat-icon>
    </button>

    <span> Map Screen</span>
    <span fxFlex></span>
    <a [routerLink]="['spotdatalist']" mat-icon-button (click)="openSnackBar('スポットを検索します','OK')">
          <mat-icon>search</mat-icon>
    </a>
    <button mat-icon-button (click)="openSnackBar('サイトを共有します','OK')">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div class="contents" fxFlex>
      <router-outlet></router-outlet>
    <div class="contents" fxFlex>
    <mgl-map
      [style]="'https://assets-dev.mapfan.com/mapbox/mb-styles/style.std-pc-ja-2.json'"
      [zoom]="[8]"
      [center]="[139.767, 35.681]"
      (click)="onClick($event)"
      fxFlex="grow"
    >
      <mgl-marker
        *ngIf="this.lngLat" [lngLat]="getLngLat()"
      >
      </mgl-marker>
    </mgl-map>
    <div class="centerIcon" fxFlexFill fxLayoutAlign="center center">
      <mat-icon color="warn">crop_free</mat-icon>
    </div>
  </div>
  </div>
</div>
