<form class="leftForm" fxLayoutAlign="start center" id="search-component">
      <mat-form-field>
        <input matInput placeholder="キーワード" name="search-field" id="KeyId" key="KeyId" [(ngModel)]="key">
      </mat-form-field>
      <button mat-icon-button (click)="search(key)">
        <mat-icon>search</mat-icon>
      </button>
  <a mat-icon-button (click)="lngLatClear()" [routerLink]="['/map']">
        <mat-icon>clear</mat-icon>
      </a>
  </form>
      <mat-action-list dense>
        <mat-list-item *ngFor="let spotData of spotDatas"
                       (click)="onSelect(spotData)"
                       [class.selected]="spotData === selectedSpot">
          <mat-icon mat-list-icon>room</mat-icon>
            <div mat-line>{{spotData.name}}</div>
            <div mat-line>{{spotData.address}}</div>
        </mat-list-item>
      </mat-action-list>
